<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <!-- Add your sidenav content here -->
    <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side"> </mat-drawer>

      <div class="example-sidenav-content">
        <mat-list role="list">
          <mat-list-item role="listitem">
            <a href="" [routerLink]="['/home']"> Home</a></mat-list-item
          >
          <mat-list-item role="listitem">
            <a href="" [routerLink]="['/clients']"> Clients </a></mat-list-item
          >
          <mat-list-item role="listitem">
            <a href="" [routerLink]="['/invoices']">
              Invoices
            </a></mat-list-item
          >
          <mat-list-item role="listitem">
            <a href="" [routerLink]="['/users']"> Users </a></mat-list-item
          >
        </mat-list>
      </div>
    </mat-drawer-container>
  </mat-sidenav>
  <mat-toolbar>
    <button
      class="example-icon favorite-icon"
      mat-icon-button
      (click)="sidenav.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <ng-content></ng-content>
  </mat-toolbar>
  <ng-content></ng-content>
</mat-sidenav-container>
